<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Codeadvisor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css')}}">
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="{{ url_for('static', filename='scripts/master.js') }}"></script>
</head>


<body class="bg_blue">
  <nav class='bg_indigo py_20'>
    <div class='container d_flex x_space-between align_center'>
      <div class='align_center'>
        <div onclick="toggleMenu.toggle()" class='icon color_white mr_10 menu-mobile'>
          <i data-feather='menu'></i>
        </div>
        <a href='/' class='logo color_white'>Code<span class='color_salomie'>a</span>dvisor</a>
      </div>
      <div class='account  align_center color_white'>
        <a title='Post project' class="mr_20 icon_button_sm bg_green main-callout-icon" href="/projects"><i
            data-feather='plus'></i></a>
        <a href='/projects' class='main-callout bg_green button button_sm mr_20'>Post project</a>
        <ul>
          <li class="dropdown align_center text_underline">{{user_auth["user_name"]}}
            <i data-feather="chevron-down"></i>
            <ul>
              <li><a class="color_white decor_none" href="/{{user_auth['user_name']}}">Profile</a></li>
              <li><a class="color_white decor_none" href="/logout">Logout</a></li>

            </ul>
          </li>
        </ul>

      </div>

    </div>



    <ul id='menu-container'>
      <li>
        <a class='color_white' href='/'>Home</a>
      </li>
      <li>
        <a class='color_white' href='/posts'>Posts</a>
      </li>
      <li>
        <a class='color_white' href='/projects'>Projects</a>
      </li>

    </ul>

  </nav>
  <div id='sticky-nav' class='bg_indigo py_20'>

    <div class='container d_flex x_space-between align_center'>
      <div class='align_center'>
        <div onclick="toggleMenu.toggle()" class='icon color_white mr_10 menu-mobile'>
          <i data-feather='menu'></i>

        </div>


        <a href='/' class='logo color_white'>Code<span class='color_salomie'>a</span>dvisor</a>

      </div>
      <div class='account  align_center color_white'>
        <a title='Post project' class="mr_20 icon_button_sm bg_green main-callout-icon" href="/projects"><i
            data-feather='plus'></i></a>
        <a href='/projects' class='main-callout bg_green button button_sm mr_20'>Post project</a>
        <ul>
          <li class="dropdown align_center">{{user_auth["user_name"]}}
            <i data-feather="chevron-down"></i>
            <ul>
              <li><a class="color_white decor_none" href="/{{user_auth['user_name']}}">Profile</a></li>
              <li><a class="color_white decor_none" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>

      </div>

    </div>






  </div>
  <div class='container'>
    <div class='row dash d_flex x_space-between'>
      <div class='col_1 nav-dash'>
        <ul class="pt_20">

          <li>
            <a href="/" class="align_center color_white hover_eff">

              Home</a>
          </li>

          <li class="mt_20">
            <a href="/posts" class="align_center color_white hover_eff">
              Posts</a></li>
          <li class="mt_20">
            <a href="/projects" class="align_center color_white hover_eff">
              Projects</a></li>

        </ul>
      </div>

      {% block content %}
      {% endblock %}

      <div class='col_3 mt_20 dash-advisor'>
        <h3 class='color_white'>Top Advisors</h3>
        <div class='bg_light_blue rounded mt_20 p_20'>
          {% if not config.top_advisors %}
          <span>Not available at this time!</span>
          {% else%}
          <ul>
            {% for user in config.top_advisors %}
            <li class="{{'mb_10' if loop.length != loop.index }} align_center x_space-between">
              <span>{{ loop.index }}. <a class='color_dark_blue'
                  href="/{{ user.user_name }}">{{user.user_name}}</a></span>
              <span>Likes {{ user.like_amount }}</span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
      </div>


      <div class='dash-advisor-mob mt_20'>
        <h3 class='color_white'>Top Advisors</h3>
        <div class='d_flex mt_10'>
          {% if not config.top_advisors %}

          <span>Not available at this time!</span>


          {% else %}
          {% for user in config.top_advisors %}
          <div class='mr_20 d_flex f_column y_center'>
            <div class='like_wrapper'>
              <div class='advisor_rank'>
                {{loop.index}}
              </div>
              {{ user.like_amount}}
            </div>
            <a href='/{{user.user_name}}' class='text_small color_white'>{{user.user_name}}</a>
          </div>
          {% endfor %}
          {% endif %}

        </div>
      </div>


    </div>
  </div>
  <footer class="mt_20 p_30 bg_grey">

    <div class="container d_flex x_center">
      <p class="color_white text_small">codeadvisor &copy; 2020</p>
    </div>
  </footer>
  <script>
    feather.replace()
  </script>
</body>


</html>