{% extends "view/base.html" %}
{% block content %}
<div class='col_6'>
    {% if git_projects|length > 0 %}
        {% for project in git_projects %}
                <div class="mt_20 bg_light_blue p_20 rounded">
                   <div class="align_center x_space-between">
                       <div>
                            <h3 class="bar">{{ project['name'] }}</h3>
                           <span class="text_small color_grey">Language: {{ project['language'] }}</span>

                       </div>
                       {% if project['homepage'] %}
                       <a class="color_green" target="_blank" href="{{ project['homepage'] }}"><i data-feather="globe"></i></a>
                       {% else %}
                       <i class="color_green" data-feather="globe" onclick="dialog.open({{ project['id'] }})"></i>
                       {% endif %}
                   </div>

                    <p class="mt_10">{{ project.description or 'You did not provide any description for this repository.' }}</p>
                    <div class="d_flex align_center x_space-between mt_20">
                        <em class="mb_10 text_small color_grey">Last updated at {{ project.updated_at.strftime("%d/%m/%Y") }}</em>
                        <a href="/projects/{{project['name']}}" class="button button_sm bg_green">View</a>
                    </div>

                </div>

                <div id="dialog_{{ project['id'] }}" class="dialog">
                    <div class="inner">
                        <h3>Sorry...</h3>
                        <p>The live website for {{ project['name']}} is unvailable!</p>
                        <div>
                            <a target="_blank" class="mt_20 button button_sm bg_green" href="{{ project['html_url'] }}">Add live website</a>

                            <button class="mt_20 ml_10 button button_sm bg_red" onclick="dialog.close({{ project['id'] }})">Close</button>
                        </div>

                    </div>

                </div>
        {% endfor %}
    {% endif %}
</div>




{% endblock %}
