{% extends "view/base.html" %}
{% block content %}

<div class='col_6 mt_20 '>
  <div class="bg_light_blue col_9 p_20 rounded">
    <h2>Github projects</h2>


    <form action="/projects/new" method="POST">

      <label for="git_username" class="mt_20">Github username</label>
      <input id="git_username" name='git_username' placeholder="johndoe31" class="mt_10" type="text">
      <button type="submit" class="mt_20 button button_sm bg_green">Enter</button>
    </form>
  </div>

</div>


{% endblock %}