{% extends "view/base.html" %}
{% block content %}

<div class='col_7'>
  <h2 class='color_white mt_20'>Github repositories</h2>
  {% if config.projects | length > 0 %}
  {% for project in config.projects %}
  <div class="mt_20 bg_light_blue p_20 rounded">
    <div class="align_center x_space-between">
      <div>
        <h3 class="bar color_indigo">{{ project['name'] }}</h3>
        <span class="text_small color_grey">Language: {{ project['language'] }}</span>

      </div>
      <div class="align_center">
        {% if project['homepage'] %}
        <a class="icon_button_sm bg_green" target="_blank" href="{{ project['homepage'] }}"><i
            data-feather="globe"></i></a>
        {% else %}
        <div role='toggleOpen' data-target="dialog_{{ project['id']}}" class="icon_button_sm bg_green">
          <i data-feather="globe"></i>
        </div>
        {% endif %}

        <a target="_blank" title='Source code' class="ml_10 icon_button_sm bg_green" href="{{ project['html_url'] }}"><i
            data-feather='code'></i></a>

      </div>
    </div>

    <p class="mt_10">{{ project.description or 'You did not provide any description for this repository.' }}</p>
    <div class="d_flex align_center x_space-between mt_20">
      <em class="mb_10 text_small color_grey">Last updated at {{ project.updated_at.strftime("%d/%m/%Y") }}</em>

      <div class='d_flex'>


        <a href="/projects/{{project['name']}}" class="button button_sm bg_green">View</a>

        <form class="hidden" method="POST" action="/projects/{{project['name']}}">
          <button class="button button_sm bg_grey ml_10" type="submit">Post</button>
        </form>
      </div>

    </div>

  </div>

  <div id="dialog_{{ project['id'] }}" class="dialog">
    <div class="inner">
      <h3>Sorry...</h3>
      <p>The live website for {{ project['name']}} is unvailable!</p>
      <div>
        <a target="_blank" class="mt_20 button button_sm bg_green" href="{{ project['html_url'] }}">Add live website</a>

        <button 
        role='toggleOpen'
        data-target="dialog_{{ project['id'] }}"
        type="button" 
        class="mt_20 ml_10 button button_sm bg_red">Close</button>
      </div>

    </div>

  </div>
  {% endfor %}
  <div class="mt_20 align_center x_center">
    {% if config.curr_page != 1 %}
    <a href="{{config.ref}}" class="color_white align_center mr_30"><i class="mr_10"
        data-feather='arrow-left'></i>prev</a>
    {% endif %}


    {% if config.render_next or config.curr_page != 1%}
    {% for i in range(1, config.pagination) %}
    <a class="ml_10 color_white"
      href="/projects?page={{ i  }}&sort={{ 'posted_at' if config.curr_sort == 'posted_at' else config.curr_sort }}">{{ i }}</a>
    {% endfor %}
    {% endif %}
    
    



    {% if config.render_next %}
    <a title='next'
      href="/projects?page={{ config.curr_page + 1  }}&sort={{ 'posted_at' if config.curr_sort == 'posted_at' else config.curr_sort }}"
      class="ml_30 color_white align_center">next
      <i data-feather='arrow-right' class="ml_10"></i></a>

    {% endif %}
  </div>

  {% else %}
  <div class='mt_20 bg_light_blue rounded p_20 text_center'>
    <h3 class='color_error'>Github is empty.</h3>
    <p class='mt_20'>The username {{ user_auth['git_username'] }} does not contain any repository. If 
    you entered the wrong username click the button below.</p>

    <a class='button button_sm bg_green mt_30' href='/profile'>Edit username</a>
  </div>

  {% endif %}
</div>




{% endblock %}