{% extends "view/base.html" %}
{% block content %}

<div class='col_7'>
  <div class='mt_20 align_center x_space-between'>
    <a class='color_white' href='/posts'><i data-feather='arrow-left-circle'></i></a>

    </a>
  </div>

  <div class='project_item  mt_20 bg_light_blue rounded p_30'>
    <div class="align_center x_space-between">
      <div>
        {% for label in post['stack_labels'] %}
        <span class="tag">{{ label }}</span>
        {% endfor %}
        <h3 class="mt_10 color_indigo">{{ post['name'] }}</h3>

        <em class="text_small color_grey">posted by
          <a class="color_grey" href="/users/{{ post['_user'] }}">{{ post['_user']}}</a> on
          {{ post['posted_at'].strftime("%d/%m/%Y") }}</em>

      </div>
      <div class="align_center">

        {% if post['homepage'] %}
        <a target="_blank" class="icon_button_sm bg_green" href="{{ post['homepage'] }}"><i
            data-feather='globe'></i></a>

        {% else %}
        <div role='toggleOpen' data-target='dialog_{{ post['_id'] }}' class="icon_button_sm bg_green">
          <i data-feather="globe"></i>
        </div>
        {% endif %}
        <a target="_blank" title='Source code' class="ml_10 icon_button_sm bg_green" href="{{ post['html_url'] }}"><i
            data-feather='code'></i></a>


      </div>
    </div>
    <div class="mt_20 chart_wrapper">
      <canvas id="{{ post['name'] }}"></canvas>
    </div>

    <h4 class='mt_20 color_indigo'>Description</h4>
    <div class='mt_20'>
      {% if not post.description %}
      <span class='color_error'>This does not have any description.</span>
      {% else %}
      <p class="mt_10">{{ post.description }}</p>
      {% endif %}
    </div>

  </div>



  {# feedback collections #}
  <div class='align_center mt_20'>
    <h4 class='color_white'>Feedbacks</h4><span class='color_white ml_10'>({{ feedbacks | length}})</span>

  </div>
  {% if not feedbacks %}
  <div class='bg_light_blue p_20 d_flex y_center mt_20 rounded f_column'> 
    <h3>It's empty here!</h3>
    <p>There are no feedbacks at the moment.</p>
  </div>
  {% else %}

  {% for feedback in feedbacks %}
  {% set feedback_loop = loop %}
  <div class='bg_light_blue rounded p_30 mt_20'>
    <div class='align_center x_space-between'>
      <div>
        <h4><a class="color_indigo" href="/{{ feedback['_username'] }}">{{ feedback['_username'] }}</a></h4>
        <span class=' color_grey text_small'>posted at {{feedback['posted_at'].strftime("%d/%m/%Y") }}</span>
      </div>

      <i data-feather='more-vertical'></i>
    </div>



    <div id='feedback{{feedback_loop.index}}' class='feedback_wrapper mt_10'>

      <div role='toggleOpen' data-target='feedback{{feedback_loop.index}},second_collapse{{ feedback_loop.index  }}'
        class='feedback_button open icon_button_sm bg_green'><i data-feather='chevron-down'></i></div>
      {% for obj in feedback['feedback'] %}
      {% for key, value in obj.items() %}

      <div class='mb_10'>
        <h5 class='color_indigo'>{{ key }}</h5>
        <span class='color_grey'>rate: {{ value.rate }} out of 10</span>

        <div class='mt_10'>
          {% if not value.advice %}
          <p class='color_error'>No advice given for {{ key }}.</p>
          {% else %}
          <p>{{ value.advice }}<p>
              {% endif %}
        </div>


      </div>

      {% endfor %}

      {% endfor %}


    </div>
    <div class='align_center x_space-between'>
      <div class='mt_20 align_center'>
        <div class='align_center'>

          <div id='like{{ feedback_loop.index}}' role='toggleLike' data-target='dislike{{ feedback_loop.index }}'
            onclick="server.post({path: '/posts/{{ feedback['_id']}}/like', body: null})"
            class='icon color_grey {{ "open" if user_auth["_id"] in feedback["like"]}} like'>

            <i data-feather='thumbs-up'></i>
          </div>


          <span id='like{{ feedback_loop.index }}_amount' class='ml_10'>{{feedback['like'] | length}}</span>
        </div>
        <div class='align_center ml_20'>
          <div role='toggleLike' data-target='like{{feedback_loop.index}}' id='dislike{{ feedback_loop.index }}'
            onclick="server.post({path: '/posts/{{ feedback['_id']}}/dislike', body: null})"
            class='icon color_grey {{ "open" if user_auth["_id"] in feedback["dislike"] }} dislike'>
            <i data-feather='thumbs-down'></i>
          </div>

          <span id='dislike{{ feedback_loop.index }}_amount' class='ml_10'>{{feedback['dislike'] | length}}</span>
        </div>
      </div>
      <div role='toggleOpen' data-target='feedback{{feedback_loop.index}},second_collapse{{ feedback_loop.index  }}'
        id="second_collapse{{ feedback_loop.index}}" class='toggle icon_button_sm bg_green'><i
          data-feather='chevron-up'></i></div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {# Your feedback starts here #}
  <h4 class='mt_30 color_white'>Your feedback</h4>
  <div class='bg_light_blue rounded p_30 mt_20'>

    <div id='feedback' class="feedback_wrapper">
      <button role='toggleOpen' data-target='feedback' class='feedback_button button open button_sm bg_green'
        type='button'>Add feedback</button>

      <p class='color_grey'>Please rate the following languages from 1 - 10 being 10 is the highest and depending on the
        following:</p>

      <ul class='list'>
        <li class='color_grey mt_10'>Appropriate use of each language.</li>
        <li class='color_grey mt_10'>Proper indentations.</li>
        <li class='color_grey mt_10'>Comments.</li>
        <li class='color_grey mt_10'>Code structure.</li>
        <li class='color_grey mt_10'>Validity</li>
      </ul>

      <form class='mt_20' action='/posts/{{ post["name"]}}' method='POST'>
        {% for label in post['stack_labels'] %}
        {% set label_loop = loop %}
        <label class='mt_30'>Please choose the suitable rate for {{ label }} codes.</label>
        <div class='d_flex mt_10'>
          {% for i in range(1, 11)%}
          <div class='align_center mr_10'>
            <input value='{{i}}' name="rate{{label_loop.index}}" required type='radio'><span>{{i}}</span>
          </div>
          {% endfor %}
        </div>
        <label class='mt_30'>Share some advice and online resources on what to work on.</label>
        <textarea placeholder='Type your message here...' class='bg_white rounded mt_10'
          name="advice{{ label_loop.index}}"></textarea>
        {% endfor %}
        <div class='mt_20 d_flex'>
          <button data-target='feedback' type='button' role='toggleOpen'
            class='button button_sm bg_grey mr_10'>Cancel</button>
          <button class='button button_sm bg_green' type='submit'>Post feedback</button>

        </div>
        <input type='hidden' name='labels' value="{{ post['stack_labels'] }}">
        <input type='hidden' name='name' value="{{ post['name'] }}">
        <input type='hidden' name='id' value="{{ post['_id'] }}">
        <input type='hidden' name='developed_by' value="{{ post['_user'] }}">
      </form>
    </div>

  </div>


</div>




<div id='feedback_error' class="dialog {{ 'open' if feedback_error else None }}">
  <div class='inner'>
    <h3>Warning!</h3>
    <p>You can only add one feedback for each post.</p>
    <div class="align_center">
      <a href='/'></a>
      <button role='toggleOpen' data-target='feedback_error' class="mt_20 button button_sm bg_red">Close</button>
    </div>
  </div>
</div>
<div id="dialog_{{ post['_id'] }}" class="dialog">
  <div class="inner">
    <h3>Warning</h3>
    <p>The live website for {{ post['name']}} is unvailable!</p>
    <div class="align_center">
      <button role='toggleOpen' data-target="dialog_{{ post['_id'] }}"
        class="mt_20 button button_sm bg_red">Close</button>
    </div>
  </div>

</div>

<script>
  doughnut.init({{post | tojson}})
</script>

{% endblock %}