{% extends "student/base.html" %}
{% block content %}
{% set front_end = ["html", "css", "javascript"]  %}
{% set back_end = ["Select your option","java", "c#", "c++", 'python', 'nodejs', 'php', 'ruby'] %}

<div class='col_6 mt_20'>
    <h1>Share your project</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

    <form action="/projects/new" method="POST">
        <div class='row mb_10 d_flex x_space-between mt_20'>
            <div class='col_6 mr_10'>
                <label for="project_title">Project title</label>
                <input placeholder='Enter the title of your project' required class="mt_10" id="project_title" type="text" name="project_title">

            </div>
            <div class='col_6 ml_10'>
                <label for="site_url">Website URL</label>
                <input placeholder="Deployed site's url"  required id='site_url' class="mt_10" type="text" name="site_url">

            </div>
        </div>
        <label for="">Github repository</label>
        <input name='github_repo' placeholder="https://github.com/username/project" class="mt_10" type="text">
        <div class='row mb_20 d_flex x_space-between mt_20'>
            <div class='col_6 mr_10'>
                <label>Front-end languages</label>
                <div class='d_flex x_space-between'>
                    {% for value in front_end %}
                    <div class="mt_10 ">
                        <input type="checkbox" name="front_end" value="{{value}}"> <span>{{value.title()}}</span>
                    </div>
                    {% endfor %}
                </div>



            </div>

            <div class='col_6 ml_10'>
                <label for="">Back-end languages</label>

                <div class="mt_10">

                    <select name='back_end'>
                        {% for value in back_end %}
                            {%if value == 'Select your option':%}
                                <option value="" hidden selected>{{value}}</option>
                            {% else %}
                                <option value="{{value}}">{{value.title()}}</option>
                        {%endif%}
                        
                        {% endfor %}
                    </select>
                </div>
            </div>


        </div>
        <label for="description">Description</label>
        <textarea id="description" class="rounded mt_10" name='description'
            placeholder="Your project's description..."></textarea>
        <button type="submit" class="mt_20 button button_md bg_green">Post project</button>
    </form>
</div>


{% endblock %}