{% extends "dashboard/base.html" %}
{% block content %}
<div class='col_6'>
    <h1>Before you start...</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>



    <div class='d_flex x_space-between mt_30'>
        <div class='bg_light_blue rounded col_6 p_10 mr_10'>
            <h4>Student</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <div class='mt_20 d_flex x_center'>
                <a class="bg_green button button_md"
                    href="{{ "{}/select_role?role=student".format(user_auth['user_name']) }}">Select</a>
            </div>

        </div>
        <div class='bg_light_blue rounded col_6 p_10 ml_10'>
            <h4>Advisor</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

            <div class='mt_20 d_flex x_center'>
                <a class="bg_green button button_md"
                    href="{{ "{}/select_role?role=advisor".format(user_auth['user_name']) }}">Select</a>
            </div>


        </div>
    </div>

</div>


{% endblock %}