$dark_blue: #273e4c
$indigo: #37538c
$blue: #64a5e9
$light_blue: #cbe4f8
$red: #8c1c1c
$orange: #bc5544
$grey: rgb(87, 87, 87)
$light_grey: #c4c4c4
$green: #0e907d
$salomie: #BF5349
.bg_indigo
    background-color: $indigo
.bg_blue
    background-color: $blue
.bg_light_blue
    background-color: $light_blue
.bg_dark_blue
    background-color: $dark_blue
.bg_green
    background-color: $green
.bg_grey
    background-color: $grey
.bg_red
    background-color: $red
.bg_salomie
    background-color: $salomie
.bg_white
    background-color: white
.bg_light_grey
    background-color: $light_grey
.color_white
    color: white
.bg_color_orange
    background-color: $orange
.color_error
    color: $red
.color_dark_blue
    color: $dark_blue
.color_salomie
    color: $salomie
.color_indigo
    color: $indigo
.color_grey
    color: $grey !important
.color_green
    color: $green