$dark_blue: #273e4c
$indigo: #37538c
$blue: #64a5e9
$light_blue: #cbe4f8
.bg_indigo
    background-color: $indigo
.bg_blue
    background-color: $blue
.bg_light_blue
    background-color: $light_blue
.color_white
    color: white