@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700&display=swap')
$headingSize: ("h1": "40px", "h2": "32px", "h3": "30px", "h4": "24px", "h5": "18px" )
body
    font-family: "Poppins", sans-serif
    color: $dark_blue
em
    font-style: italic
    display: block
.decor_none
    text-decoration: none
.align_center
    display: flex !important
    align-items: center
.text_center
    text-align: center
.dropdown
    position: relative
    ul
        display: none
        position: absolute
        top: 25px
        li
            width: 100px
            height: 40px
            text-align: center
            line-height: 40px
            background-color: white
            a
                display: block
                color: $dark_blue
            &:hover
                background-color: #dee3e6

        li:last-child
            border-bottom-right-radius: 5px
            border-bottom-left-radius: 5px
        li:first-child
            border-top-right-radius: 5px
            border-top-left-radius: 5px
    &:hover
        ul
            display: block

.wrap
    flex-wrap: wrap
.text_small
    font-size: 14px
.bold
    font-weight: bold
@each $el, $size in $headingSize
    #{$el}
        font-size: #{$size}

.list
    list-style-type: disc
    margin-left: 2em