@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700&display=swap')
$headingSize: ("h1": "40px", "h2": "32px", "h3": "30px", "h4": "24px", "h5": "18px" )
body
    font-family: "Poppins", sans-serif
    color: $dark_blue

.decor-none
    text-decoration: none
.align_center
    display: flex
    align-items: center

.dropdown
    position: relative
    ul
        display: none
        background-color: $dark_blue
        position: absolute
        top: 25px
        width: 100%

        li
            padding: 20px

            a
                display: block

            &:hover
                background-color: #304856

    &:hover
        ul
            display: block

@each $el, $size in $headingSize
    #{$el}
        font-size: #{$size}
