{% macro render_nav(email) %}


<nav class='bg_indigo py_30'>
    <div class='container x_space-between d_flex'>
        <a href='#' class='color_white decor-none'>codeadvisor</a>
        <ul class='d_flex'>
            {% if email %}
            <li>{{ email }}</li>
            {% else %}
            <li>
                <a href='/login' class='color_white'>login</a>
            </li>
            <li class='ml_20'>
                <a href='/register' class='color_white decor-none'>register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>





{% endmacro %}


{% macro render_input(name, label, type, placeholder) %}
<label for='{{name}}'>{{label}}</label>
<input class="mt_10 mb_20" id='{{name}}' name='{{name}}' type='{{type}}' placeholder="{{placeholder}}">
{% endmacro %}